div{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}
span{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}