@font-face{
    src: url(fonts/Roboto-VariableFont_wdth,wght.ttf);
    font-family:Roboto-VariableFont_wdth;
}

h1{
    font-family: Roboto-VariableFont_wdth, verdana, arial;
}

p{
    font-family: Roboto-VariableFont_wdth, "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}